body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
}
  footer{
background-color: #f5bc6c;
text-align: center;

height: 40px;

  }
  
  